<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Who Pays The Bill does this work</title>
  </head>

  <body>
    <div id="app">
      <div class="add-player-screen" v-if="state">
        <div class="logo">
          <h1>Who pays the bill?</h1>
        </div>
        <div class="container">
          <input type="text" v-model.trim="inputName" />
          <button @click="addInputNames">+</button>
        </div>
        <div class="error-message" v-if="errorState">{{ errorMessage }}</div>
        <div
          class="list-input-names"
          v-for="(name, index) in names"
          :key="index"
          @click="removePlayerName(index)"
        >
          {{name}}
        </div>
        <button v-if="twoOrMoreNames" @click="randomLoser()">
          Pick a loser
        </button>
      </div>
      <div class="loser-screen" v-if="!state">
        <h1>The loser is:</h1>
        <div class="loser-display">{{loserName}}</div>
        <button class="btn-start-again" @click="init()">Start Again</button>
        <button class="btn-choose-again" @click="chooseAgain()">
          Choose Again
        </button>
      </div>
    </div>
  </body>

  <script src="app.js"></script>
</html>
